.header{
    height: 6em;
    min-width: 100%;
    padding-left: 5em;
    padding-right: 5em;

    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}

.header button{
    background-color: #e54b04;
    color: white;
    padding: 1em;

    border: none;
    border-radius: 3em;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 0.7em;
}

.header button:hover{
    opacity: 0.6
}